#root {
  max-width: 1280px;
  margin: 400px;
  padding: 2rem;
  text-align: center;
  background-color: rgb(180, 23, 23);
  width: 100px;
}
.nav{ display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  align-items: center;


}
img{
  display: flex;
  width: 200px;

}